.container {
  width: 100%;
  height: 100vh;
}

.area-jogador {
  width: 35%;
  height: 100vh;
  background-color: #150050;
}

.tabuleiro {
  width: 30%;
  height: 100vh;
  background-color: #3F0071;
}

.area-cpu {
  width: 35%;
  height: 100vh;
  background-color: #150050;
}

body {
  margin: 0!important;
}

.flex-jogo {
  display: flex;
}

.avatar-jogador, .avatar-cpu {
  height: 60%;
}

.tabuleiro-jogador {
  height: 40%;
}

.placar-jogo {
  height: 20%;
}