.container {
  width: 100%;
  height: 100vh;
}

.area-jogador {
  width: 35%;
  height: 100vh;
  background-color: #150050;
}

table{
  height: 100%;
  width: 100%;
}

td {
  background-color: #150050;
  text-align: center;
}

th {
  text-align: center;
}

.tabuleiro {
  width: 30%;
  height: 100vh;
  background-color: #3F0071;
}

.area-cpu {
  width: 35%;
  height: 100vh;
  background-color: #150050;
}

body {
  margin: 0!important;
}

.flex-jogo {
  display: flex;
}

.avatar-jogador, .avatar-cpu {
  height: 60%;
}

.tabuleiro-jogador, .tabuleiro-cpu {
  height: 40%;
}

.placar-jogo {
  background-color: #000000;
  text-align: center;
  color: white;
  height: 20%;
  align-items: center;
}

#tabuleiro1, #tabuleiro2 {
  margin: auto;
  padding: 5%;
  height: 100%;
  width: 80%;
}

#placar {
  line-height: 51px;
  vertical-align: middle;
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s; }

.dot {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -20px 5px 5px -20px;
  border-radius: 20px;
  background-color: #ef233c;
  box-shadow: inset 2px 2px #d90429;}

.dice-one {
  left: 450px;
 }

.side {
  position: absolute;
  background-color: #000;
  border-radius:5px;
  width: 200px;
  height: 200px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
  margin-left: 120px;
}

.side:nth-child(1) {
  transform: translateZ(3.1em); }

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em); }

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em); }

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em); }

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em); }

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em); }

.two-1, .three-1, .four-1, .five-1, .six-1 {
  top: 20%;
  left: 20%; }

.four-3, .five-3, .six-4 {
  top: 20%;
  left: 80%; }

.one-1, .three-2, .five-5 {
  top: 50%;
  left: 50%; }

.four-2, .five-2, .six-3 {
  top: 80%;
  left: 20%; }

.two-2, .three-3, .four-4, .five-4, .six-6 {
  top: 80%;
  left: 80%; }

.six-2 {
  top: 50%;
  left: 20%; }

.six-5 {
  top: 50%;
  left: 80%; 
}